/* Universal selector-adds borders around each box on webpage*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Adds background color to all visible content */
body {
  background-color: #d9dcd6;
}

/*Adds font family, color, and background color to header and navigation bar at the top of the page  */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* Sets font size to 48px and display charactaristcs as inline without line-breaks for top h1 header */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Sets part of the h1 header as a different color */
header h1 .seo {
  color: #d9dcd6;
}

/* Adds font, margin, font size, and right-side positioning to navigation bar at the top */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* Makes list items in navigatin bar appear without specific styling */
header nav ul {
  list-style-type: none;
}

/* Displays navigation bar items with even spacing in between by adding a left margin on each item  */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Sets color for links in nav bar and leaves text without decoration */
a {
  color: #ffffff;
  text-decoration: none;
}

/* Sets properties of large image right below h1 and nav bar */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Main content of webpage */
p {
  font-size: 16px;
}
/* 
Adds bottom margin and font size for h2 elements in main area of page */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Describes characteristics of sections, font, and background of main content */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Sets height of images in each section in main  */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
  max-height: 200px;
}

/* Positions image on the left in the first and third sections of main */
.float-left {
  float: left;
  margin-right: 25px;
}

/* Positions image on the right in second section of main */
.float-right {
  float: right;
  margin-left: 25px;
}

/* Display characteristics for main sections  */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* font, color, background, and display characterisics of aside at right of page */
aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
  color: #ffffff;
}

/* heading attributes in aside */
aside h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

/* sets margins for each section in aside */
.benefit-lead,
.benefit-brand,
.benefit-cost {
  margin: auto;
}

/* display characteristics of images in each section in aside */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Footer element at the bottom of the webpage; the company name and webpage publish date*/
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
